@tailwind base;
@tailwind components;
@tailwind utilities;


.feature {
    left: 50%;
    right: 50%;
    padding-block-start: 5rem;;
}

.nav::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    display: block;
    top: 100%;
    @apply bg-blue-100 after:top-full !important;
}
