@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer
  }
}

@layer components {
  .navbar__link {
    @apply uppercase text-blue-200;
  }

  #root {
    @apply font-sans overflow-y-hidden;
  }
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik") url("../public/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: 0 solid transparent;
  border: 0 solid transparent;
}

/* Component styling */
.header__hero-img::after {
  content: "";
  position: absolute;
  width: 50rem;
  height: 15rem;
  /* top: 40%; */
  transform: translateX(20%);
  z-index: -2;
  display: block;
  border-bottom-left-radius: 150px;
  @apply bg-blue-200;
}

.faq-section__answer {
  transition: height 500ms ease-in;
  color: hsla(229, 8%, 60%, 0.678);
}

.faq__dropdown--hidden {
  width: 0;
  height: 0;
}

.faq__dropdown--hidden > p {
  opacity: 0;
}

.features__tab::after {
  content: '';
  width: calc(100%);
  display: block;
  position: relative;
  height: 0.1px;
  top: 100%;
}

@media (min-width: 768px) {
  .features__tab::after {
    width: calc(100% + 1.25rem);
  }
}

.faq-section__dropdown-button {
  aspect-ratio: 3/2;
  background-image: url("./assets/icons/icon-arrow.svg");
  transition: transform 300ms ease-in;
}

.faq__dropdown--active {
  transform: rotate(180deg);
}

.navbar__menu-sm[data-menu-state="closed"] {
  transform: translateY(-120%);
}

.section {
  transition: transform 1000ms ease-in;
}

.section--hidden {
  opacity: 0;
  transform: translateY(15%);
}

.features__img::after {
  content: "";
  position: absolute;
  width: 40rem;
  height: 13rem;
  top: 40%;
  transform: translateX(-50%);
  z-index: -2;
  display: block;
  border-bottom-right-radius: 150px;
  @apply bg-blue-200;
}
