@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }

  input {
    @apply outline-0;
  }
}

@layer components {
  .features__tab::after {
    content: "";
    width: 50%;
    display: block;
    position: relative;
    height: 0.1px;
    top: 100%;
  }

  .features__tab {
    border-top: 1px solid;
    @apply border-blue-100 md:border-0;
  }

  .navbar__menu-normal .navbar__link {
    @apply uppercase text-blue-200 hover:text-red-100;
  }

  #root {
    @apply font-sans overflow-y-hidden;
  }

  .active-tab::after {
    height: 5px !important;
    @apply bg-red !important;
    transform: translateX(50%) translateY(250%);
  }

  @media (min-width: 769px) {

    .features .active-tab::after {
      width: 100%;
      transform: translateY(250%);
    }

    .features__page .active-tab::after {
      width: 100%;
      transform: translateY(-320%);
    }
  }

  .active-tab {
    @apply text-blue-200 !important;
  }
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik") url("../public/fonts/Rubik-VariableFont_wght.ttf");
}

:root {
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: 0 solid transparent;
  border: 0 solid transparent;
}

/* Component styling */
.header__hero-img::after {
  content: "";
  position: absolute;
  width: 50rem;
  height: 15rem;
  /* top: 40%; */
  transform: translateX(20%);
  z-index: -2;
  display: block;
  border-bottom-left-radius: 150px;
  @apply bg-blue-200;
}

.faq-section__answer {
  transition: height 500ms ease-in;
  color: hsl(230, 3%, 37%);
}

.faq__dropdown--hidden {
  width: 0;
  height: 0;
}

.faq__dropdown--hidden > p {
  opacity: 0;
}

.faq-section__dropdown-button {
  aspect-ratio: 3/2;
  background-image: url("./assets/icons/icon-arrow.svg");
}

.faq__dropdown--active {
  transform: rotate(180deg);
}

.navbar__menu-mobile[data-menu-state="closed"] {
  transform: translateY(-120%);
}

.section {
  transition: transform 1000ms ease;
}

.section--hidden {
  opacity: 0;
  transform: translateY(15%);
}

.features__img::after {
  content: "";
  position: absolute;
  width: 40rem;
  height: 13rem;
  top: 40%;
  transform: translateX(-50%);
  z-index: -2;
  display: block;
  border-bottom-right-radius: 150px;
  @apply bg-blue-200;
}

.faq-section__list > li {
  border-block-start: 1px solid;
  @apply border-blue-100;
}

.faq-section__list > li:last-child {
  border-block-end: 1px solid;
  @apply border-blue-100;
}

.wrong-email::before {
  content: "";
  background-image: url("./assets/icons/icon-error.svg");
  width: 20px;
  aspect-ratio: 1 / 1;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.wrong-email::after {
  content: "whoops make sure it's an email!";
  position: absolute;
  @apply bg-red text-white text-xs text-left italic rounded-br rounded-bl;
  width: 101%;
  transform: translateX(-0.5%);
  padding: 2px 5px;
  top: 103%;
  left: 0;
}

.wrong-email {
  @apply outline outline-2 outline-red;
}

.wrong-email > input {
  border-radius: 0;
}

.navbar__menu-mobile .navbar__link {
  border-top: 0.5px solid gray;
  @apply uppercase;
}

.features > nav::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  display: block;
  top: 100%;
  @apply bg-blue-100 after:top-full !important;
}
